{% extends 'accounts/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}

{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
            <table table table-sm>
                <tr>

                    <th>Customers</th>
                    <th>Phone</th>
                </tr>
                {% for i in customers %}
                <tr>
                    <td><a style="text-decoration: none;" href="{% url 'customer' i.id %}">
                        {% if i.name %}{{ i.name }}
                        {% else %}{{ i.user }}</a></td>
                        {% endif %}
                    
                    <td>{% if i.phone %}{{ i.phone }}
                        {% else %}{{ 'Not Provided' }}</a></td>
                        {% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>RECENT ORDERS</h5>
        <hr>
        <div class="card card-body">
            
            <table table table-sm>
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <!-- <th>Update</th> -->
                    <th>Remove</th>
                </tr>
                {% for i in orders %}
                <tr>
                    <td>{{ i.product }}</td>
                    <td>{{ i.date_ordered.date }}</td>
                    <td>{{ i.status }}</td>
                    <!-- <td><a class="btn btn-info" href="{% url 'update_order' i.id%}"> Update</td> -->
                    <td><a class="btn btn-danger" href="{% url 'delete_order' i.id %}"> Remove</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}